{% load static %}
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'basdat59/snippets/bootstrap-css.html' %}
        {% include 'basdat59/snippets/styles.html' %}
        {% block style %}
        
        {% endblock style %}
    </head>
    <body>
    {% include "basdat59/snippets/navbar.html" %}

    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <div style="min-height: 100%;">
    {% block content %}

    {% endblock content %}
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="
    flex-shrink: none;">
        <div class="container text-center">
          <small>Copyright &copy; BasDat59 2020</small>
        </div>
      </footer>

    {% include 'basdat59/snippets/bootstrap-js.html' %}

    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
            }
            var $subMenu = $(this).next('.dropdown-menu');
            $subMenu.toggleClass('show');
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                $('.dropdown-submenu .show').removeClass('show');
            });
            return false;
        });
    </script>

    <script>
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>

    {% block script %}

    {% endblock script %}
    </body>
</html>
