{% extends "basdat59/base.html" %}
{% load static %} 

{% block content %}

  <div class="container text-center">
    <img class = "pb-5" src="{% static 'img/medikago.jpg' %}" alt="dokter">
    <br>
    <h1>MedikaGo!</h1>
    <h3>BasDat Kelompok 59 2019/2020</h3>
    <p>Web ini merupakan hasil kelompok kami dalam mengerjakan Tugas Kelompok BasDat. Menyenangkan sekalee!!</p>
  </div>

{% endblock content %}
