{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Buat Layanan Poliklinik</h2>
    </div>
    <div>
        {% if request.session.user.role == 'Administrator' %}
        <form method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <b>{{ form.nama.label_tag }}</b>
                <div>
                    {{ form.nama }}
                </div>
            </div>
            <div class='form-group'>
                <b>{{ form.deskripsi.label_tag }}</b>
                <div>
                    {{ form.deskripsi }}
                </div>
            </div>
            <div class='form-group'>
                <b>{{ form.kode_rs_cabang.label_tag }}</b>
                <div name="kode_rs_cabang">
                    {{ form.kode_rs_cabang }}
                </div>
            </div>
            <div class='form-group'>
                <div class='d-flex justify-content-between'>
                    <b><label for="daftar_jadwal">Daftar Jadwal:</label></b>
                    <a href="javascript:void(0);" class="add_button" title="Add field"><button type="button"
                            class="btn btn-primary"><b>+</b></button></a>
                </div>

                <div class='d-flex flex-column' id='daftar_jadwal'>
                    <div class="d-flex my-2" style="display: none;">
                        <input type="text" name="hari[]" class="form-control mx-1" maxlength="50" placeholder="Hari"
                            required="">
                        <label for="jam_mulai">from:</label><input id="jam_mulai" type="time" name="jam_mulai[]"
                            class="form-control mx-1" required="">
                        <label for="jam_selesai">until:</label><input type="time" id="jam_selesai" name="jam_selesai[]"
                            class="form-control mx-1" required="">
                        <input type="number" name="kapasitas[]" class="form-control mx-1" min="1" max="30"
                            placeholder="Kapasitas" required="">
                        <a href="javascript:void(0);" class="remove_button ml-1">
                            <button type="button" class="btn btn-danger">
                                <b>X</b>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <span style="color: #dc3545;">{{ error }}</span>
            </div>
            <button type="submit" class="btn btn-outline-primary my-3">Buat</button>
        </form>
        {% else %}
        <div>
            <span style="color: #dc3545;">Mohon maaf, Anda tidak bisa mengakses halaman ini.</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        var maxField = 10;
        var addButton = $('.add_button');
        var wrapper = $('#daftar_jadwal');
        var fieldHTML =
            '<div class="d-flex my-2" style="display: none;"><input type="text" name="hari[]" class="form-control mx-1" maxlength="50" placeholder="Hari" required=""><label for="jam_mulai">from:</label><input id="jam_mulai" type="time" name="jam_mulai[]" class="form-control mx-1" required=""><label for="jam_selesai">until:</label><input type="time" id="jam_selesai" name="jam_selesai[]" class="form-control mx-1" required=""><input type="number" name="kapasitas[]" class="form-control mx-1" min="1" max="30" placeholder="Kapasitas" required=""><a href="javascript:void(0);" class="remove_button ml-1"><button type="button" class="btn btn-danger"><b>X</b></button></a></div>';
        var x = 0;

        $(addButton).click(function () {
            if (x < maxField) {
                x++;
                $(fieldHTML).appendTo(wrapper).fadeIn();
            } else(
                alert("Terlalu banyak. 10 aja cukup. :)")
            )
        });

        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').fadeOut(300, function () {
                $(this).remove()
            })
            x--;
        });
    });
</script>
{% endblock script %}