{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Daftar Jadwal Poliklinik</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Jadwal Poliklinik</th>
                    <th scope="col">Hari</th>
                    <th scope="col">Waktu Mulai</th>
                    <th scope="col">Waktu Selesai</th>
                    <th scope="col">Kapasitas</th>
                    <th scope="col">ID Dokter</th>
                    <th scope="col">ID Poliklinik</th>
                    {% if request.session.user.role == 'Administrator' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for jadwal in daftar_jadwal %}
                <tr>
                    <td>{{ jadwal.id_jadwal_poliklinik }}</td>
                    <td>{{ jadwal.hari }}</td>
                    <td>{{ jadwal.waktu_mulai }}</td>
                    <td>{{ jadwal.waktu_selesai }}</td>
                    <td>{{ jadwal.kapasitas }}</td>
                    <td>{{ jadwal.id_dokter }}</td>
                    <td>{{ jadwal.id_poliklinik }}</td>
                    {% if request.session.user.role == 'Administrator' %}
                    <td class='align-middle'>
                        <div class='d-flex justify-content-center'>
                            <div class='mr-1'>
                                <form action="{% url 'poliklinik:update_jadwal' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_jadwal_poliklinik" value="{{ jadwal.id_jadwal_poliklinik }}" hidden>
                                    <input type="hidden" name="id_poliklinik" value="{{ jadwal.id_poliklinik }}" hidden>
                                    <input type="hidden" name="edit" value="true" hidden>
                                    <button type="submit" class="btn btn-primary" title="Update">Update</button>
                                </form>
                            </div>
                            <div>
                                <form action="{% url 'poliklinik:delete_jadwal' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_jadwal_poliklinik" value="{{ jadwal.id_jadwal_poliklinik }}" hidden>
                                    <input type="hidden" name="id_poliklinik" value="{{ jadwal.id_poliklinik }}" hidden>
                                    <button type="submit" class="btn btn-outline-danger" title="Delete">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}