{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Daftar Layanan Poliklinik</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Layanan Poliklinik</th>
                    <th scope="col">Kode RS Cabang</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Jadwal Poliklinik</th>
                    {% if request.session.user.role == 'Administrator' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for layanan in daftar_layanan %}
                <tr>
                    <td>{{ layanan.id_poliklinik }}</td>
                    <td>{{ layanan.kode_rs_cabang }}</td>
                    <td>{{ layanan.nama }}</td>
                    <td>{{ layanan.deskripsi }}</td>
                    <td class="align-middle">
                        <div class='d-flex justify-content-center'>
                            <form action="{% url 'poliklinik:daftar_jadwal' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id_poliklinik" value="{{ layanan.id_poliklinik }}" hidden>
                                <button type="submit" class="btn btn-info" title="Update">Info Jadwal</button>
                            </form>
                        </div>
                    </td>
                    {% if request.session.user.role == 'Administrator' %}
                    <td class='align-middle'>
                        <div class='d-flex justify-content-center'>
                            <div class='mr-1'>
                                <form action="{% url 'poliklinik:update_layanan' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_poliklinik" value="{{ layanan.id_poliklinik }}" hidden>
                                    <input type="hidden" name="edit" value="true" hidden>
                                    <button type="submit" class="btn btn-primary" title="Update">Update</button>
                                </form>
                            </div>
                            <div>
                                <form action="{% url 'poliklinik:delete_layanan' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_poliklinik" value="{{ layanan.id_poliklinik }}" hidden>
                                    <button type="submit" class="btn btn-outline-danger" title="Delete">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}