{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Update Jadwal Poliklinik</h2>
    </div>
    <div>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <b>{{ field.label_tag }}</b>
                <div class="d-flex">
                    {% if 'Poliklinik' in field.label %}
                    <input type="text" name="{{ field.name }}" value="{{ field.value }}" class="form-control" maxlength="50" required="" id="{{ field.auto_id }}" disabled>
                    {% else %}
                    {{ field }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="id_jadwal_poliklinik" value="{{ id_jadwal_poliklinik }}" hidden>
            <input type="hidden" name="id_poliklinik" value="{{ id_poliklinik }}" hidden>
            <input type="hidden" name="edit" value="false" hidden>
            <div>
                <div id="message"></div>
                <button type="submit" class="btn btn-outline-primary my-3" id="update_button">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#id_id_dokter").change(function(event) {
            $("#message").html("");
            
            let id_dokter = $(this).val();
            
            if (id_dokter == "-") {
                $("#message").html("ID Dokter '-' tidak valid.");
                $("#message").css('color', '#dc3545');
                $("#update_button").attr("disabled", "True");
            } else {
                $("#id_kode_rs").attr("disabled", "True");
                $("#update_button").removeAttr("disabled");
            }
        });
    });
</script>
{% endblock script %}