{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Update Layanan Poliklinik</h2>
    </div>
    <div>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <b>{{ field.label_tag }}</b>
                <div class="d-flex">
                    {% if 'ID' in field.label %}
                    <input type="text" name="{{ field.name }}" value="{{ field.value }}" class="form-control" maxlength="50" required="" id="{{ field.auto_id }}" disabled>
                    {% else %}
                    {{ field }}
                    {% endif %}
                </div>
                {% if field.errors %}
                <strong style="color: red;">{{ field.errors }}</strong>
                {% endif %}
            </div>
            {% endfor %}
            <input type="hidden" name="id_poliklinik" value="{{ id_poliklinik }}" hidden>
            <input type="hidden" name="edit" value="false" hidden>
            <div>
                <div id="message"></div>
                <button type="submit" class="btn btn-outline-primary my-3" id="update_button">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#id_kode_rs_cabang").change(function(event) {
            $("#message").html("");
            
            let kode_rs_cabang = $(this).val();

            if (kode_rs_cabang == "-") {
                $("#message").html("Kode RS '-' tidak valid.");
                $("#message").css('color', '#dc3545');
                $("#update_button").attr("disabled", "True");
            } else {
                $("#update_button").removeAttr("disabled");
            }
        })
    });
</script>
{% endblock script %}