{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Form Pembuatan Transaksi</h2>
    </div>
    <div class='d-flex justify-content-center my-2'>
        <div><span style="color: #dc3545;">{{ error }}</span></div>
    </div>
    <div>
        <div class='d-flex justify-content-center my-2'>
            <div>
                <span style="color: #dc3545;">{{ error }}</span>
            </div>
        </div>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class='form-group'>
                <b>{{ field.label_tag }}</b>
                <div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <strong style="color: red;">{{ field.errors }}</strong>
                {% endif %}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between align-items-center">
                <div id="message"></div>
                <button href="{% url 'transaksi:daftar_transaksi' %}" type="submit" class="btn btn-outline-primary my-3">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#id_no_rekam_medis_pasien").change(function(event) {
            $("#message").html("");
        
            let no_rekam_medis = $(this).val();

            if (no_rekam_medis == "-") {
                $("#message").html("Nomor rekam medis '-' tidak valid.");
                $("#message").css('color', '#dc3545');
            } else {
                $.ajax({
                    type : "GET",
                    contentType : "application/json",
                    url : "/transaksi/get_no_rekam_medis",
                    data : {'no_rekam_medis':no_rekam_medis},
                    dataType : 'json',
                    success : function (data) {
                        if (data.pasien) {
                            let id_pasien_list = data.pasien;
                            for (idx in id_pasien_list) {
                                let id_pasien = id_pasien_list[idx];
                                let html = "<option value='" + no_rekam_medis + "'>" + no_rekam_medis + "</option>";
                            }
                        } else {
                            $("#message").html(data.error);
                            $("#message").css('color', '#dc3545');
                        }
                    },
                    error : function (e) {
                        console.log("Error: ", e);
                    }
                });
            }
        });
    });
</script>
{% endblock script %}