{% extends 'basdat59/base.html' %}

{% block style %}
<style>
    body{
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table{
        border-collapse: separate;
    }

    tr td:first-child:before{
    counter-increment: Serial;      /* Increment the Serial counter */
    content: counter(Serial); /* Display the counter */
    }
    
    th, td, a {
        vertical-align: middle !important;
        text-align: center;
    }
</style>
{% endblock style %}

{% block content %}
<div class='container'>
    <div class='col-md d-flex justify-content-center flex-column'>
        <div class='my-4 d-flex justify-content-center'>
            <h2><b>Daftar Transaksi</b></h2>
        </div>
        <div class='table-responsive'>
            <table class="table table-stripped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total Biaya</th>
                        <th scope="col">Waktu Pembayaran</th>
                        <th scope="col">Nomer Rekam Medis Pasien</th>
                        {% if request.session.user.role == 'Administrator' %}
                        <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for transaksi in daftar_t %}
                    <tr>
                        <td></td>
                        <td>{{ transaksi.tanggal }}</td>
                        <td>{{ transaksi.status }}</td>
                        <td>Rp {{ transaksi.total_biaya }}</td>
                        <td>{{ transaksi.waktu_pembayaran }}</td>
                        <td>{{ transaksi.no_rekam_medis }}</td>
                        {% if request.session.user.role == 'Administrator' %}
                        <td class='align-middle'>
                            <div class='d-flex justify-content-center'>
                                <div class='mr-1'>
                                    <form action="{% url 'transaksi:update_transaksi' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_transaksi" value="{{ transaksi.id_transaksi }}" hidden>
                                        <input type="hidden" name="edit" value="true" hidden>
                                        <button type="submit" class="btn btn-primary" title="edit">Update</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="{% url 'transaksi:delete_transaksi' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_transaksi" value="{{ transaksi.id_transaksi }}">
                                        <button type="submit" class="btn btn-outline-danger" title="edit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}