{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Form Update Transaksi</h2>
    </div>
    <div>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <b>{{ field.label_tag }}</b>
                <div class="d-flex">
                    {% if 'ID' in field.label or 'Nomor' in field.label or 'Biaya' in field.label %}
                    <input type="text" name="{{ field.name }}" value="{{ field.value }}" class="form-control" maxlength="50" required="" id="{{ field.auto_id }}" disabled>
                    {% else %}
                    {{ field }}
                    {% endif %}
                </div>
                {% if field.errors %}
                <strong style="color: red;">{{ field.errors }}</strong>
                {% endif %}
            </div>
            {% endfor %}
            <input type="hidden" name="id_transaksi" value="{{ id_transaksi }}" hidden>
            <input type="hidden" name="total_biaya" value="{{ total_biaya }}" hidden>
            <input type="hidden" name="no_rekam_medis" value="{{ no_rekam_medis }}" hidden>
            <input type="hidden" name="edit" value="false" hidden>
            <button type="submit" class="btn btn-outline-primary my-3">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
$( document ).ready(function() {
    $("#id_transaksi").val("1");
    $("#total_biaya").val("1");
    $("#nomor_rekam_medis").val("1");
});
</script>
{% endblock script %}