{% extends 'basdat59/base.html' %}

{% block content %}
<!-- KUNING -->
<div class='container'>
    <div class='d-flex justify-content-center align-items-center my-3'>
        <div class='d-flex flex-column'>
            <div class='text-center my-3'><h2>Buat Obat</h2></div>
            <div class='container'>
                <form method='POST'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class='form-group'>
                            <b>{{ field.label_tag }}</b>
                            <div class='d-flex'>
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <strong style="color: red;">{{ field.errors }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>    
</div>
{% endblock content %}