{% extends 'basdat59/base.html' %}

{% block content %}
<!-- KUNING -->
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Daftar Resep</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nomor Resep</th>
                    <th scope="col">Total Harga</th>
                    <th scope="col">ID Konsultasi</th>
                    <th scope="col">ID Transaksi</th>
                    <th scope="col">Daftar Obat</th>
                    {% if request.session.user.role == 'Administrator' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for resep in resep_dict %}
                <tr>
                    <td>{{ resep.no_resep }}</td>
                    <td>{{ resep.total_harga }}</td>
                    <td>{{ resep.id_konsultasi }}</td>
                    <td>{{ resep.id_transaksi }}</td>
                    <td>{{ resep.kode_obat }}</td>
                    {% if request.session.user.role == 'Administrator' %}
                    <td class='align-middle'>
                            <div class='d-flex justify-content-center'>
                                <div class='mr-1'>
                                    <form action="{% url 'resep_obat:edit_resep' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="no_resep" value="{{ resep.no_resep }}" hidden>
                                        <input type="hidden" name="edit" value="true" hidden>
                                        <button type="submit" class="btn btn-primary" title="update">Update</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="{% url 'resep_obat:delete_resep' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="no_resep" value="{{ resep.no_resep }}">
                                        <button type="submit" class="btn btn-danger" title="edit">X</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}