{% extends 'basdat59/base.html' %}

{% block content %}
<!-- KUNING -->
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Daftar Obat</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Komposisi</th>
                    <th scope="col">Bentuk Sediaan</th>
                    <th scope="col">Merk Dagang</th>
                    {% if request.session.user.role == 'Administrator' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for obat in obat_dict %}
                <tr>
                    <td>{{ obat.kode }}</td>
                    <td>{{ obat.stok }}</td>
                    <td>{{ obat.harga }}</td>
                    <td>{{ obat.komposisi }}</td>
                    <td>{{ obat.bentuk_sediaan }}</td>
                    <td>{{ obat.merk_dagang }}</td>
                    {% if request.session.user.role == 'Administrator' %}
                    <td class='align-middle'>
                            <div class='d-flex justify-content-center'>
                                <div class='mr-1'>
                                    <form action="{% url 'resep_obat:update_obat' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="kode" value="{{ obat.kode }}" hidden>
                                        <input type="hidden" name="edit" value="true" hidden>
                                        <button type="submit" class="btn btn-primary" title="edit">Edit</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="{% url 'resep_obat:delete_obat' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="kode" value="{{ obat.kode }}">
                                        <button type="submit" class="btn btn-danger" title="edit">X</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}