{% extends 'basdat59/base.html' %}

{% block content %}
<!-- KUNING -->
<div class='container'>
    <div class='d-flex justify-content-center align-items-center my-3'>
        <div class='d-flex flex-column'>
            <div class='text-center my-3'><h2>Update Obat</h2></div>
            <div>
                <form method='POST'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class='form-group'>
                            <b>{{ field.label_tag }}</b>
                            <div class='d-flex'>
                            {% if 'Kode' in field.label %}
                                <input type="text" name="{{ field.name }}" value="{{ field.value }}" class="form-control" maxlength="50" required="" id="kode" disabled>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            </div>
                            {% if field.errors %}
                                <strong style="color: red;">{{ field.errors }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="kode" value="{{ kode }}" hidden>
                    <input type="hidden" name="edit" value="false" hidden>
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>    
</div>
{% endblock content %}