{% extends 'basdat59/base.html' %}

{% block content %}
<div class="container">
    <div class="col-md d-flex flex-column align-items-center">
        <div class='text-center my-3'><h2><b>Form Reservasi Sesi Konsultasi</b></h2></div>
        <div class='d-flex justify-content-center my-2'>
            <div><span style="color: #dc3545;">{{ error }}</span></div>
        </div>
        <div class="container">
            <div class='d-flex justify-content-center my-2'>
                <div>
                    <span style="color: #dc3545;">{{ error }}</span>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class='form-group'>
                        <b>{{ field.label_tag }}</b>
                        <div class='d-flex'>
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <strong style="color: red;">{{ field.errors }}</strong>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center">
                    <div id="message"></div>
                    <div><button type="submit" class="btn btn-primary float-right">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#id_id_transaksi").html("");
    })
    $("#id_no_rekam_medis_pasien").change(function(event) {
        $("#id_id_transaksi").html("");
        $("#message").html("");
        
        let no_rekam_medis = $(this).val();

        if (no_rekam_medis == "-") {
            $("#message").html("Nomor rekam medis '-' tidak valid.");
            $("#message").css('color', '#dc3545');
        } else {
            $.ajax({
                type : "GET",
                contentType : "application/json",
                url : "/sesi_konsultasi/get_id_transaksi",
                data : {'no_rekam_medis':no_rekam_medis},
                dataType : 'json',
                success : function (data) {
                    if (data.transaksi) {
                        let id_transaksi_list = data.transaksi;
                        for (idx in id_transaksi_list) {
                            let id_transaksi = id_transaksi_list[idx];
                            let html = "<option value='" + id_transaksi + "'>" + id_transaksi + "</option>";
                            $("#id_id_transaksi").append(html);
                        }
                        $("#message").html("Ditemukan " + id_transaksi_list.length + " transaksi milik " + no_rekam_medis + ".");
                        $("#message").css('color', '#28a745');
                    } else {
                        $("#message").html(data.error);
                        $("#message").css('color', '#dc3545');
                    }
                },
                error : function (e) {
                    console.log("Error: ", e);
                }
            });
        }
    });
</script>
{% endblock script %}