{% extends 'basdat59/base.html' %}

{% block style %}
<style>
    th, td, a {
        vertical-align: middle !important;
        text-align: center;
    }
</style>
{% endblock style %}

{% block content %}
<div class='container'>
    <div class='col-md d-flex justify-content-center flex-column'>
        <div class='my-4 d-flex justify-content-center'>
            <h2><b>Daftar Sesi Konsultasi</b></h2>
        </div>
        <div class='table-responsive'>
            <table class="table table-striped">
                <thead class='thead-dark'>
                    <tr>
                        <th scope="col">ID Konsultasi</th>
                        <th scope="col">Nomor Pasien</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Biaya</th>
                        <th scope="col">Status</th>
                        <th scope="col">ID Transaksi</th>
                        {% if request.session.user.role == 'Administrator' %}
                        <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for sesi_konsultasi in daftar_sk %}
                    <tr>
                        <td>{{ sesi_konsultasi.id_konsultasi }}</td>
                        <td>{{ sesi_konsultasi.no_rekam_medis_pasien }}</td>
                        <td>{{ sesi_konsultasi.tanggal }}</td>
                        <td>{{ sesi_konsultasi.biaya }}</td>
                        <td>{{ sesi_konsultasi.status }}</td>
                        <td>{{ sesi_konsultasi.id_transaksi }}</td>
                        {% if request.session.user.role == 'Administrator' %}
                        <td class='align-middle'>
                            <div class='d-flex justify-content-center'>
                                <div class='mr-1'>
                                    <form action="{% url 'sesi_konsultasi:update_sesi' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_konsultasi" value="{{ sesi_konsultasi.id_konsultasi }}" hidden>
                                        <input type="hidden" name="edit" value="true" hidden>
                                        <button type="submit" class="btn btn-primary" title="edit">Edit</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="{% url 'sesi_konsultasi:delete_sesi' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_konsultasi" value="{{ sesi_konsultasi.id_konsultasi }}">
                                        <button type="submit" class="btn btn-danger" title="edit">X</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>       
        </div>
    </div>
</div>
{% endblock content %}