{% extends 'basdat59/base.html' %}

{% block style %}
<style>
    th, td, a {
        vertical-align: middle !important;
        text-align: center;
    }
</style>
{% endblock style %}

{% block content %}
<div class='container'>
    <div class='col-md d-flex flex-column align-items-center'>
        <div class='text-center my-3'><h2><b>Update Sesi Konsultasi</b></h2></div>
        <div class='container'>
            <form method='POST'>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <b>{{ field.label_tag }}</b>
                    <div class="d-flex">
                        {% if 'ID' in field.label or 'Nomor' in field.label or 'Biaya' in field.label %}
                        <input type="text" name="{{ field.name }}" value="{{ field.value }}" class="form-control" maxlength="50" required="" id="{{ field.auto_id }}" disabled>
                        {% else %}
                        {{ field }}
                        {% endif %}
                    </div>
                    {% if field.errors %}
                    <strong style="color: red;">{{ field.errors }}</strong>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="hidden" name="id_konsultasi" value="{{ id_konsultasi }}" hidden>
                <input type="hidden" name="no_rekam_medis" value="{{ no_rekam_medis }}" hidden>
                <input type="hidden" name="biaya" value="{{ biaya }}" hidden>
                <input type="hidden" name="id_transaksi" value="{{ id_transaksi }}" hidden>
                <input type="hidden" name="edit" value="false" hidden>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
$( document ).ready(function() {
    $("#id_konsultasi").val("1");
    $("#nomor_rekam_medis").val("1");
    $("#biaya").val("1");
    $("#id_transaksi").val("1");
});
</script>
{% endblock script %}