<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="nav navbar-nav navbar-center">
    <a class="navbar-brand mx-auto neon" href="{% url 'home' %}">
      BasDat 59 - MedikaGo!
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {% if request.session.user.role %}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'account:profil' %}">Profil</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Sesi Konsultasi</a>
            <ul class="dropdown-menu">
              {% if request.session.user.role == 'Administrator' %}
              <li><a class="dropdown-item" href="{% url 'sesi_konsultasi:buat_sesi' %}">Buat Sesi Konsultasi</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'sesi_konsultasi:daftar_sesi' %}">Daftar Sesi Konsultasi</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Poliklinik</a>
            <ul class="dropdown-menu">
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'poliklinik:buat_layanan' %}">Buat Layanan Poliklinik</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'poliklinik:daftar_layanan' %}">Daftar Layanan Poliklinik</a>
              </li>
              <li><a class="dropdown-item" href="{% url 'poliklinik:daftar_jadwal' %}">Daftar Jadwal Poliklinik</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">RS Cabang</a>
            <ul class="dropdown-menu">
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'rs_cabang:buat_rs' %}">Buat RS Cabang</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'rs_cabang:daftar_rs' %}">Daftar RS Cabang</a></li>
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'rs_cabang:daftarkan_dokter' %}">Daftarkan Dokter</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'rs_cabang:daftar_dokter' %}">Daftar Dokter</a></li>
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'rs_cabang:daftar_admin' %}">Daftar Administrator</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Tindakan</a>
            <ul class="dropdown-menu">
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'tindakan:buat_tindakan' %}">Buat Tindakan</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'tindakan:daftar_tindakan' %}">Daftar Tindakan</a></li>
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'tindakan:buat_tindakan_poliklinik' %}">Buat Tindakan
                  Poliklinik</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'tindakan:daftar_tindakan_poliklinik' %}">Daftar Tindakan
                  Polklinik</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Resep dan Obat</a>
            <ul class="dropdown-menu">
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'resep_obat:buat_resep' %}">Buat Resep</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'resep_obat:daftar_resep' %}">Daftar Resep</a></li>
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'resep_obat:buat_obat' %}">Buat Obat</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'resep_obat:daftar_obat' %}">Daftar Obat</a></li>
            </ul>
          </li>
          {% if request.session.user.role != "Administrator" %}
          <li><a class="dropdown-item" href="{% url 'poliklinik:daftar_layanan' %}">Daftar Layanan</a></li>
          {% endif %}
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Transaksi</a>
            <ul class="dropdown-menu">
              {% if request.session.user.role == "Administrator" %}
              <li><a class="dropdown-item" href="{% url 'transaksi:buat_transaksi' %}">Buat Transaksi</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'transaksi:daftar_transaksi' %}">Daftar Transaksi</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    {% endif %}
    <ul class='navbar-nav ml-auto'>
      {% if request.session.user %}
      <li class='nav-item my-1' style="margin-right:10px"><span>Halo, </span><span>{{ request.session.user.nama_lengkap }}</span></li>
      {% endif %}
      {% if not request.session.user.role %}
      <li class='nav-item my-1'><a href="{% url 'account:login' %}" class="btn btn-outline-info my-2 my-sm-0"
          style="margin-right: 10px;">Login</a></li>
      <li class='nav-item my-1'><a href="{% url 'account:register' %}" class="btn btn-outline-info my-2 my-sm-0"
          style="margin-right: 10px;">Register</a> </li>
      {% endif %}      
      {% if request.session.user.role %}
      <li class='nav-item'><a href="{% url 'account:logout' %}" class="btn btn-outline-danger my-2 my-sm-0">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>