{% extends 'basdat59/base.html' %}

{% block content %}

    <div class='d-flex justify-content-center align-items-center my-3'>
        <div class='d-flex flex-column'>
            <div class='text-center my-3'><h2>Login MedikaGO!</h2></div>
            <div class='container'>
                <div class='d-flex justify-content-center my-2'>
                    <div>
                        <span style="color: #dc3545;">{{ error }}</span>
                    </div>
                </div>
                <form method='POST'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class='form-group'>
                            <b>{{ field.label_tag }}</b>
                            <div class='d-flex'>
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <strong style="color: red;">{{ field.errors }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary float-right">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}