{% extends 'basdat59/base.html' %}
{% load static %} 

{% block content %}
<div class='container'>
    
    <div class='d-flex justify-content-center align-items-center my-3'>
        <div class='d-flex flex-column'>
            <div class='text-center my-3'><h2><b>Profile</b></h2></div>
            <div class = "row">
            <div class="col-sm-12 col-md-6">
            <img src="{% static 'img/akun.png' %}" alt="akun" style ="width :200px; border-radius: 100%;">
            </div>
            <div class="col-sm-12 col-md-6">
            <div class='container-fluid'>
                <div><span><b>Username : </b></span><span>{{ request.session.user.username }}</span></div>
                <div><span><b>Role : </b></span><span>{{ request.session.user.role }}</span></div>
                <div><span><b>Email : </b></span><span>{{ request.session.user.email }}</span></div>   
                <div><span><b>Nama Lengkap : </b></span><span>{{ request.session.user.nama_lengkap }}</span></div>
                <div><span><b>Nomor Identitas : </b></span><span>{{ request.session.user.nomor_identitas }}</span></div>
                <div><span><b>Tanggal Lahir : </b></span><span>{{ request.session.user.tanggal_lahir }}</span></div>
                <div><span><b>Alamat : </b></span><span>{{ request.session.user.alamat }}</span></div>
                {% if request.session.user.role == "Administrator" %}
                <div><span><b>Nomor pegawai : </b></span><span>{{ request.session.user.nomor_pegawai }}</span></div>
                <div><span><b>Kode RS : </b></span><span>{{ request.session.user.kode_rs }}</span></div>
                {% endif %} 
                {% if request.session.user.role == "Dokter" %}
                <div><span><b>Dokter : </b></span><span>{{ request.session.user.id_dokter }}</span></div>  
                <div><span><b>Nomor SIP : </b></span><span>{{ request.session.user.no_sip }}</span></div>  
                <div><span><b>Spesialisasi : </b></span><span>{{ request.session.user.spesialisasi }}</span></div>  
                {% endif %}
                {% if request.session.user.role == "Pasien" %}
                <div><span><b></b>Nomor Rekam Medis : </b></span><span>{{ request.session.user.no_rekam_medis }}</span></div>  
                <div class="d-flex flex-column">
                    <div><span><b>Alergi : </b></span></div>
                    {% if request.session.user.alergies %}
                    <div>
                        <ul style="margin-bottom: 0;">
                            {% for alergi in request.session.user.alergies %}
                            <li>{{ alergi|last }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div><span><b></b>Nama Asuransi : </span><span>{{ request.session.user.nama_asuransi }}</span></div>  
                {% endif %}
            </div>
        </div>
        
        </div> 
    </div>
</div>
</div>
{% endblock content %}