{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex justify-content-center align-items-center my-3'>
    <div class='d-flex flex-column'>
        <div class='text-center my-3'><h2>Registrasi Pasien</h2></div>
        <div class='container'>
            <div class='d-flex justify-content-center my-2'>
                <div>
                    <span style="color: #dc3545;">{{ error }}</span>
                </div>
                <div>
                    <span style="color: #28a745;">{{ message }}</span>
                </div>
            </div>
            <form method='POST'>
                {% csrf_token %}
                {% for field in form %}
                    <div class='form-group'>
                        <b>{{ field.label_tag }}</b>
                        <div class='d-flex'>
                             {{ field }}
                        </div>
                        {% if field.errors %}
                            <strong style="color: red;">{{ field.errors }}</strong>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class='form-group'>
                    <div class='d-flex justify-content-between'>
                        <b><label for="alergi">Alergi:</label></b>
                        <a href="javascript:void(0);" class="add_button" title="Add field"><button type="button" class="btn btn-primary"><b>+</b></button></a>
                    </div>
                    <div class='d-flex flex-column' id='alergi'>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">Daftar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('#alergi'); //Input field wrapper
        var fieldHTML = '<div class="d-flex my-2" style="display: none;"><input type="text" name="alergi[]" class="form-control mr-1" maxlength="50" required=""><a href="javascript:void(0);" class="remove_button ml-1"><button type="button" class="btn btn-danger"><b>X</b></button></a></div>'; //New input field html 
        var x = 0; //Initial field counter is 0
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                $(fieldHTML).appendTo(wrapper).fadeIn();
            } else (
                alert("Terlalu banyak. 10 aja cukup. :)")
            )
        });
        
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').fadeOut(300, function () {$(this).remove()})
            x--; //Decrement field counter
        });
    });
</script>
{% endblock script %}