{% extends 'basdat59/base.html' %}

{% block content %}
    <div class='full-height d-flex justify-content-center align-items-center'>
        <div class='d-flex flex-column'>
            <div class='text-center'>
                <h1>Registrasi sebagai : </h1>
            </div>
            <div class='d-flex justify-content-center'>
                <div><a href="{% url 'account:register_admin' %}"><button type="button" class="btn btn-outline-primary m-1">Administrator</button></a></div>
                <div><a href="{% url 'account:register_dokter' %}"><button type="button" class="btn btn-outline-primary m-1">Dokter</button></a></div>
                <div><a href="{% url 'account:register_pasien' %}"><button type="button" class="btn btn-outline-primary m-1">Pasien</button></a></div>
            </div>     
        </div>
    </div>
{% endblock content %}