{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Daftarkan Dokter</h2>
    </div>
    <div>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class='form-group'>
                <b>{{ field.label_tag }}</b>
                <div>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary my-3">Daftar</button>
        </form>
    </div>
</div>
{% endblock content %}