{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Daftar Dokter</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Kode RS Cabang</th>
                    <th scope="col">ID Dokter</th>
                    {% if request.session.user.role == 'Administrator' %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for dokter_rs_cabang in daftar_dokter %}
                <tr>
                    <td>{{ dokter_rs_cabang.kode_rs }}</td>
                    <td>{{ dokter_rs_cabang.id_dokter }}</td>
                    {% if request.session.user.role == 'Administrator' %}
                    <td class='align-middle'>
                        <div class='d-flex justify-content-center'>
                            <div class='mr-1'>
                                <form action="{% url 'rs_cabang:update_dokter' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_dokter_old" value="{{ dokter_rs_cabang.id_dokter }}" hidden>
                                    <input type="hidden" name="kode_rs_old" value="{{ dokter_rs_cabang.kode_rs }}" hidden>
                                    <input type="hidden" name="edit" value="true" hidden>
                                    <button type="submit" class="btn btn-primary" title="Update">Update</button>
                                </form>
                            </div>
                            <div>
                                <form action="{% url 'rs_cabang:delete_dokter' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_dokter" value="{{ dokter_rs_cabang.id_dokter }}" hidden>
                                    <input type="hidden" name="kode_rs" value="{{ dokter_rs_cabang.kode_rs }}" hidden>
                                    <button type="submit" class="btn btn-outline-danger" title="Delete">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    const table = document.querySelector('table');

    let headerCell = null;

    for (let row of table.rows) {
    const firstCell = row.cells[0];
    
    if (headerCell === null || firstCell.innerText !== headerCell.innerText) {
        headerCell = firstCell;
    } else {
        headerCell.rowSpan++;
        firstCell.remove();
    }
    }
</script>
{% endblock script %}