{% extends 'basdat59/base.html' %}

{% block style %}
<style>
    th, td, a {
        vertical-align: middle !important;
        text-align: center;
    }
</style>
{% endblock style %}

{% block content %}
<div class='container'>
    <div class='col-md d-flex justify-content-center flex-column'>
        {% if rs_dict %}
        <div class='my-4 d-flex justify-content-center'>
            <h2><b>Daftar RS Cabang</b></h2>
        </div>
        <div class='table-responsive'>
            <table class="table table-striped">
                <thead class='thead-dark'>
                    <tr>
                        <th scope="col">Kode RS</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Tanggal Pendirian</th>
                        <th scope="col">Jalan</th>
                        <th scope="col">Nomor</th>
                        <th scope="col">Kota</th>
                        {% if request.session.user.role == 'Administrator' %}
                        <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for rs_cabang in rs_dict %}
                    <tr>
                        <td>{{ rs_cabang.kode_rs }}</td>
                        <td>{{ rs_cabang.nama }}</td>
                        <td>{{ rs_cabang.tanggal_pendirian }}</td>
                        <td>{{ rs_cabang.jalan }}</td>
                        <td>{{ rs_cabang.nomor }}</td>
                        <td>{{ rs_cabang.kota }}</td>
                        {% if request.session.user.role == 'Administrator' %}
                        <td class='align-middle'>
                            <div class='d-flex justify-content-center'>
                                <div class='mr-1'>
                                    <form action="{% url 'rs_cabang:update_rs' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="kode_rs" value="{{ rs_cabang.kode_rs }}" hidden>
                                        <input type="hidden" name="edit" value="true" hidden>
                                        <button type="submit" class="btn btn-primary" title="edit">Edit</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="{% url 'rs_cabang:delete_rs' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="kode_rs" value="{{ rs_cabang.kode_rs }}">
                                        {% if rs_cabang.kode_rs != 'RS1' %}
                                        <button type="submit" class="btn btn-danger" title="edit">X</button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>       
        </div>
        {% else %}
        <div class='d-flex my-2'>
            <div>
                <span>Tidak ada Rumah Sakit Cabang yang terdaftar!</span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}