{% extends 'basdat59/base.html' %}

{% block content %}
<div class='d-flex flex-column align-items-center my-5'>
    <div class='my-3'>
        <h2>Update Dokter</h2>
    </div>
    <div>
        <form method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <b>{{ field.label_tag }}</b>
                <div class="d-flex">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="id_dokter_old" id="id_dokter_p" value="{{ id_dokter_old }}" hidden>
            <input type="hidden" name="kode_rs_old" id="kode_rs_p" value="{{ kode_rs_old }}" hidden>
            <input type="hidden" name="edit" value="false" hidden>
            <div>
                <div id="message"></div>
                <button type="submit" class="btn btn-outline-primary my-3" id="update_button">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#id_id_dokter").change(function(event) {
            $("#message").html("");
            
            let id_dokter = $(this).val();
            let id_dokter_p = $("#id_dokter_p").val();
            
            if (id_dokter == "-") {
                $("#message").html("ID Dokter '-' tidak valid.");
                $("#message").css('color', '#dc3545');
                $("#update_button").attr("disabled", "True");
            } else if (id_dokter == id_dokter_p) {
                $("#id_kode_rs").removeAttr("disabled");
                $("#message").html("ID Dokter tidak berubah.");
                $("#message").css('color', '#dc3545');
                $("#update_button").attr("disabled", "True")
            } else {
                $("#id_kode_rs").attr("disabled", "True");
                $("#update_button").removeAttr("disabled");
            }
        });
        $("#id_kode_rs").change(function(event) {
            $("#message").html("");
            
            let kode_rs = $(this).val();
            let kode_rs_p = $("#kode_rs_p").val();
            
            if (kode_rs == "-") {
                $("#message").html("Kode RS '-' tidak valid.");
                $("#message").css('color', '#dc3545');
                $("#update_button").attr("disabled", "True");
            } else if (kode_rs == kode_rs_p) {
                $("#id_id_dokter").removeAttr("disabled");
                $("#message").html("Kode RS tidak berubah.");
                $("#message").css('color', '#dc3545');
                $("#update_button").attr("disabled", "True")
            } else {
                $("#id_id_dokter").attr("disabled", "True");
                $("#update_button").removeAttr("disabled");
            }
        });
    });
</script>
{% endblock script %}